body {
    font-family: italic;
    background-color:rgb(255, 255, 255);
    margin: 0%;
    padding: 40px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: rgb(117, 146, 172);
    width: 530px;
    padding: 50px;
    margin: auto;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0);
}

label {
    font-weight:bold;
}
input {
    width: 180px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius:10px ;
    font-size: 10px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: rgb(130, 160, 190);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(28, 129, 129);
}